@import 'bootstrap-sprockets';
@import 'bootstrap';

.navbar-default .navbar-brand {
 color: white;
}

h1 {
 color: white;
 text-shadow: -1px 0 #000000,0 1px #000000,3px 0 #000000,0 -1px #000000;
 
}

h5 {
 color: white;
 }
body {
     font-family: 'Open Sans', sans-serif;
 }
 


.home-callout, .navbar {
  background: #02AAB0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
 color: white;
 opacity: 0.75;
}
.navbar-default .navbar-brand:hover {
 color: white;
 opacity: 0.75;
}

.navbar {
  border: none;
  margin:0;
}

.home-callout {
 padding-bottom: 100px;
 padding-top: 20px;
}