@import 'bootstrap-sprockets';
@import 'bootstrap';

h1 {
 color: white;
 text-shadow: -1px 0 #000000,0 1px #000000,3px 0 #000000,0 -1px #000000;
 
}

h5 {
 color: white;
 }
body {
     font-family: 'Open Sans', sans-serif;
 }
 


.home-callout, .navbar {
  background: #4DA0B0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D39D38, #4DA0B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  border: none;
  margin:0;
}

.home-callout {
 padding-bottom: 100px;
 padding-top: 20px;
}